<template>
    <div class="card" :class="{ 'card-hover': isHovered }">
        <div class="card-header font-weight-bold bg-primary text-white">{{ column.name }}</div>

        <div class="card-body">
            <ColumnTask
                v-for="(task, taskIndex) in column.tasks"
                :key="taskIndex"
                :board="board"
                :column="column"
                :task="task"
                :taskIndex="taskIndex"
                :columnIndex="columnIndex"
                :emptyTask="task.emptyTask"
            />
        </div>
    </div>
</template>

<script>
import ColumnTask from '@/components/ColumnTask.vue';
import movingTasksAndColumnsMixin from '../mixins/movingTasksAndColumnsMixin.js';

export default {
    components: { ColumnTask },
    mixins: [movingTasksAndColumnsMixin],
    data() {
        return {
            isHovered: false,
        };
    },
    methods: {
        // ... your existing methods ...

        toggleHoverState() {
            this.isHovered = !this.isHovered;
        },
    },
};
</script>

<style scoped>
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
    overflow: hidden;
}

.card-hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-body {
    max-height: 500px;
    overflow-y: auto;
}
</style>
