<template>
    <div
        class="task card"
        :class="{ emptyTask: task.emptyTask }"
        draggable="true"
        @dragover.prevent
        @dragenter.prevent
        @dragstart="pickUpTask($event, taskIndex, columnIndex)"
        @drop.stop="moveTaskOrColumn($event, column.tasks, columnIndex, taskIndex)"
        @click="openTaskModal(task.id)"
    >
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ task.name }}</h5>
            <p v-if="task.description" class="card-text text-muted">{{ task.description }}</p>
        </div>
    </div>

    <b-modal v-model="modalShow" title="Task Details">
        <div class="modal-body">
            <div class="task-details">
                <h5 class="font-weight-bold">{{ modalTaskDetails.name }}</h5>

                <div class="content">
                    <strong></strong> {{ modalTaskDetails.content }}
                </div>

                <div class="status">
                    <strong>Status:</strong>
                    <select class="form-control" v-model="selectedStatus">
                        <option v-for="(category, k) in statuses" :key="k" :value="category.id">{{ category }}</option>
                    </select>
                </div>

                <div class="assignee">
                    <strong>Assignee:</strong> {{ modalTaskDetails.assignee_name }}
                </div>

                <div class="created-at">
                    <strong>Created:</strong> <i>{{ modalTaskDetails.created_at }}</i>
                </div>

                <div class="comments">
                    <strong>Comments:</strong>
                    <textarea class="form-control" v-model="commentInput"
                              placeholder="Type your comment here"></textarea>
                    <button @click="saveComment" class="btn btn-sm btn-success">Save comment</button>

                    <!-- Display saved comments -->
                    <div v-if="savedComments.length > 0" class="saved-comments">
                        <strong>Comments:</strong>
                        <ul>
                            <li v-for="(comment, index) in savedComments" :key="index">{{ comment }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>
</template>

<script>
import axios from 'axios';
import movingTasksAndColumnsMixin from '@/mixins/movingTasksAndColumnsMixin.js';

export default {
    mixins: [movingTasksAndColumnsMixin],
    props: {
        task: {
            type: Object,
            required: true,
        },
        taskIndex: {
            type: Number,
            required: true,
        },
        columnIndex: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {
            modalTaskDetails: {},
            modalShow: false,
            selectedStatus: 1,
            statuses: ['to-do', 'ready to test', 'done', 'archived'],
            commentInput: '',
            savedComments: [],
        };
    },
    methods: {
        async openTaskModal(taskId) {
            if (this.task.emptyTask) {
                return;
            }
            try {
                const response = await axios.get(`/api/get-task/${taskId}`);
                this.modalTaskDetails = response.data;
                this.modalShow = true;
            } catch (error) {
                console.error('Error fetching task details:', error);
            }
        },

        pickUpTask(event, fromTaskIndex, fromColumnIndex) {
            console.log('task index: ' + fromTaskIndex);
            console.log('column index: ' + fromColumnIndex);

            event.dataTransfer.effectAllowed = 'move';
            event.dataTransfer.dropEffect = 'move';

            event.dataTransfer.setData('from-task-index', fromTaskIndex);
            event.dataTransfer.setData('from-column-index', fromColumnIndex);
            event.dataTransfer.setData('type', 'task');
        },
        saveComment() {
            if (this.commentInput.trim() === '') {
                return;
            }

            // Save the comment to local storage
            const savedComments = JSON.parse(localStorage.getItem('savedComments')) || [];
            savedComments.push(this.commentInput.trim());
            localStorage.setItem('savedComments', JSON.stringify(savedComments));

            // Update the component's savedComments array
            this.savedComments = savedComments;

            // Clear the commentInput after saving
            this.commentInput = '';
        },

        loadSavedComments() {
            // Load saved comments from local storage
            const savedComments = JSON.parse(localStorage.getItem('savedComments')) || [];
            this.savedComments = savedComments;
        },
    }, mounted() {
        this.loadSavedComments();
    },
};
</script>


<style scoped>
.task {
    @apply mb-4 rounded cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105;
    background-color: rgba(255, 255, 255, 0.9); /* Increase transparency */
}

.task:hover {
    @apply shadow;
}

.task h5 {
    @apply font-weight-bold;
}

.task p {
    @apply mt-1 text-muted;
}

.task-details {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.font-weight-bold {
    color: #007bff;
}

.content, .status, .assignee, .created-at, .comments {
    margin-top: 10px;
    max-width: 400px;
    word-wrap: break-word;
}

.status {
    color: #6c757d;
}

.assignee {
    color: #6c757d;
}

.created-at {
    color: #6c757d;
}

.comments {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.emptyTask {
    opacity: 0;
}
</style>
