<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <router-link to="/" class="navbar-brand">Task manager</router-link>
            <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mt-2 mt-lg-0 me-auto mb-2 mb-lg-0"></ul>
                <ul class="navbar-nav mt-2 mt-lg-0 ms-auto">
                    <li class="nav-item">
                        <router-link :to="{ name : 'public-boards.index'}" class="nav-link">Boards</router-link>
                    </li>
                    <li v-if="can('board-list')" class="nav-item">
                        <router-link :to="{ name : 'admin.index'}" class="nav-link">Management</router-link>
                    </li>
                    <template v-if="!user?.name">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/login">Login</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/register">Register</router-link>
                        </li>
                    </template>
                    <li v-if="user?.name" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ user.name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0)" @click="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script setup>
import {computed} from "vue";
import {useStore} from "vuex";
import useAuth from "@/composables/auth";
import {useAbility} from '@casl/vue'

const {can} = useAbility();
const store = useStore();
const user = computed(() => store.getters["auth/user"])
const {processing, logout} = useAuth();
</script>
