<template>
    <div class="container mt-5">
        <h2 class="mb-4">Pay to Get Additional Boards</h2>

        <div class="mb-3">
            <label for="num-boards" class="form-label">Number of Boards:</label>
            <input v-model="numBoards" type="number" class="form-control" id="num-boards" min="1" :max="maxBoards" />
        </div>

        <div class="mb-3">
            <label for="payment-method" class="form-label">Payment Method:</label>
            <select v-model="selectedMethod" @change="handleMethodChange" id="payment-method" class="form-select">
                <option value="card">Credit Card</option>
                <option v-for="method in paymentMethods" :key="method.id" :value="method.id">
                    {{ method.card.brand }} ending in {{ method.card.last4 }}
                </option>
            </select>
        </div>

        <div v-if="selectedMethod === 'card'" class="mb-3">
            <div id="card-element" class="form-control"></div>

            <small class="form-text text-muted">
                Use the test card: Visa 4242 4242 4242 4242, Any 3 digits, Any future date for testing.
            </small>

        </div>
        <div v-if="selectedMethod === 'iban'" style="display:none;">
        </div>

        <button @click="handlePayment" class="btn btn-primary">Pay Now</button>

        <p v-if="error" role="alert" class="text-danger mt-3">{{ error }}</p>
        <p v-if="success" class="text-success mt-3">{{ success }}</p>
    </div>
</template>

<script setup>
import {ref, onMounted} from 'vue';

const error = ref('');
const success = ref('');
const stripe = ref(null);
const cardElementRef = ref(null);
const selectedMethod = ref('card');
const paymentMethods = ref([]);
const numBoards = ref(1);
const maxBoards = 10;

onMounted(() => {
    const stripeScript = document.createElement('script');
    stripeScript.src = 'https://js.stripe.com/v3/';
    stripeScript.onload = initializeStripe;
    document.head.appendChild(stripeScript);
});

function initializeStripe() {
    stripe.value = Stripe('pk_test_51OHAJrHQPzP1rsYjXJVsAqRta5Pxj5oeRByX3nh19r5Zq1tniTCxVReqxyINUbQp2e0b2rd0Oz6BRtQEUCvXwKHy00sFwPoqUc');
    const elements = stripe.value.elements();
    cardElementRef.value = elements.create('card');
    cardElementRef.value.mount('#card-element');
}

function handleMethodChange() {

}

async function handlePayment() {
    if (!stripe.value) {
        error.value = 'Stripe is not properly initialized';
        return;
    }

    try {
        // Fetch payment intent client secret from the backend
        const response = await fetch('/api/payment/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                amount: numBoards.value * 1000, // Adjust with the actual amount
            }),
        });

        const data = await response.json();

        // Confirm the payment using the PaymentIntent client secret
        const result = await stripe.value.confirmCardPayment(data.client_secret, {
            payment_method: {
                card: cardElementRef.value,
            },
        });

        if (result.error) {
            error.value = result.error.message;
            success.value = '';
        } else {

            error.value = '';
            success.value = `Payment successful! You have purchased ${numBoards.value} board(s).`;
            alert(success.value);
        }
    } catch (e) {
        error.value = e.message;
        success.value = '';
    }
}
</script>

<style>
</style>
