<template>
    <div class="container">
        <div class="row g-5 mt-4">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    {{ task?.title }}
                </h3>
                <p class="blog-task-meta"> {{ task?.created_at }}. Author: <a href="#">{{ task?.user?.name }}</a></p>

                <article class="blog-task">
                    <div v-for="image in task?.media">
                        <img :src="image.original_url" alt="image" class="img-fluid">
                    </div>
                    <p>{{ task?.content }}</p>
                </article>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic"></h4>
                        <p class="mb-0"></p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Categories</h4>
                        <ol v-if="categories?.length > 0" class="list-unstyled">
                            <li v-for="category in categories" :key="category.id">
                                <router-link :to="{ name: 'category-tasks.index', params: { id: category.id } }">
                                    {{ category.name }}
                                </router-link>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import {ref, onMounted} from 'vue';
import {useRoute} from "vue-router";


const task = ref();
const categories = ref();
const route = useRoute()

onMounted(() => {
    axios.get('/api/get-task/' + route.params.id).then(({data}) => {
        task.value = data
    })
    axios.get('/api/category-list').then(({data}) => {
        categories.value = data.data
    })
})
</script>
