<template>
    <div class="container">
        <h2 class="text-center my-4">Dashboard</h2>
        <div class="row mb-2">
            <div v-for="task in tasks?.data" :key="task.id" class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block d-md-block">
                        <img :src="getImageUrl(task)" class="img-fluid"/>
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong v-for="category in task.categories" class="d-inline-block mb-2 text-primary">
                            {{ category.name }}
                        </strong>
                        <h3 class="mb-0">{{ task.title }}</h3>
                        <div class="mb-1 text-muted">{{ task.created_at }}</div>
                        <p class="card-text mb-auto">{{ task.content.substring(0, 90) + "..." }}</p>
                        <router-link :to="{ name: 'public-tasks.details', params: { id: task.id } }"
                                     class="stretched-link">View details
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import {ref, onMounted} from 'vue'

const tasks = ref();

function getImageUrl(task) {
    let image
    if (task.resized_image.length > 0) {
        image = task.resized_image
    } else {
        image = task.original_image
    }
    return new URL(image, import.meta.url).href
}

onMounted(() => {
    axios.get('/api/get-tasks').then(({data}) => {
        tasks.value = data;
    })
})
</script>
