<template>
    <div class="container mt-4">
        <button class="btn btn-light btn-sm all-tasks" @click="showAllTasks">All Tasks</button>
        <button class="btn btn-light btn-sm all-tasks" @click="showAssignedToMe">Assigned to Me</button>
        <div class="columns-container">
            <div class="columns" ref="columns">
                <div v-for="(column, $columnIndex) in board.columns" :key="$columnIndex" class="column">
                    <div class="board-column">
                        <BoardColumn
                            :board="board"
                            :column="column"
                            :columnIndex="$columnIndex"
                        />
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-light btn-sm btn-bottom-right" @click="switchBackground">Switch background</button>
    </div>
</template>

<script>
import {ref, onBeforeUnmount, watch, onMounted} from 'vue';
import BoardColumn from '@/components/BoardColumn.vue';
import axios from "axios";
import { useRoute } from "vue-router";

export default {
    components: { BoardColumn },
    data() {
        return {

            socket: null,
            board: {columns: []},
            backgroundIndex: 0,
            backgrounds: [
                '#6c757d',
                '#ff7e5f',
                '#17a2b8',
                '#28a745',
            ],
        };
    },
    created() {
        const route = useRoute();
        const boardId = route.params.id;
        axios.get(`/api/get-board/${boardId}`).then(({data}) => {
            this.formatBoard(data.data)
        })
        this.setMainBackground();
    },
    methods: {
        closeModal() {
            this.$router.push({name: 'board'});
        },
        switchBackground() {
            this.backgroundIndex = (this.backgroundIndex + 1) % this.backgrounds.length;
            document.body.style.background = this.backgrounds[this.backgroundIndex];
        },
        setMainBackground() {
            document.body.style.background = this.backgrounds[0];
        },
        formatBoard(data) {
            const uniqueCategories = {};

            data.tasks.forEach(task => {
                task.categories.forEach(category => {
                    const categoryId = category.id;
                    if (!uniqueCategories[categoryId]) {
                        uniqueCategories[categoryId] = {
                            name: category.name,
                            tasks: [],
                        };
                    }

                    uniqueCategories[categoryId].tasks.push({
                        description: `${task.content.substring(0, 50)}...`,
                        name: task.title,
                        id: task.id.toString(),
                        userAssigned: null,
                    });
                });
            });

            Object.entries(uniqueCategories).forEach(([key, category]) => {
                category.tasks.push({
                    description: '',
                    name: '',
                    id: '',
                    userAssigned: null,
                    emptyTask: true,
                    category_id: key,
                });
            });

            this.board.columns = Object.values(uniqueCategories);
        },
    },
    mounted() {
        this.socket = io('http://localhost:3000');

        this.socket.on('App\\Events\\CreateTaskEvent', (data) => {
            this.formatBoard(data.data)
        });

        this.socket.on('App\\Events\\ChangeTaskStatusEvent', (data) => {
            this.formatBoard(data.data)
        });
    },
    beforeUnmount() {
        if (this.socket) {
            this.socket.disconnect();
        }
    },
}
</script>

<style scoped>
.container {
    position: relative;
    overflow-x: auto;
}

.columns-container {
    display: flex;
    overflow-x: auto;
}

.columns {
    display: flex;
}

.column {
    flex-shrink: 0;
    width: 300px;
    margin-right: 20px;
}

.column-header {
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.board-column {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 0 0 5px 5px;
    padding: 15px;
}

.btn-bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.task-bg {
    @apply inset-0 absolute;
    background: rgba(0, 0, 0, 0.5);
}

.all-tasks {
    margin: 2px;
}
</style>
