<template>
    <div class="container">
        <h2 class="text-center my-4">Boards</h2>
        <div class="row mb-2">
            <div v-for="board in boards?.data" :key="board.id">
                <div
                    class="col-md-6 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ board.title }}</h3>
                        <router-link :to="{ name: 'public-boards.details', params: { id: board.id } }"
                                     class="stretched-link">Go to board
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import {ref, onMounted} from 'vue'
import {useAbility} from '@casl/vue'

const {can} = useAbility();
const boards = ref();

onMounted(() => {
    axios.get('/api/get-boards').then(({data}) => {
        boards.value = data;
    })
})
</script>
